- if params[:usertype] === "2"
  %h3 Регистрация инвестора
- else
  %h3 Регистрация заемщика


= simple_form_for resource, as: resource_name, url: registration_path(resource_name),class: "horizontal-form"  do |f|
  = f.error_notification
  .form-inputs
    = f.input :email, autofocus: true, input_html: {class: "form-control"}
    = f.input :password, label: "Пароль", input_html: {class: "form-control"}

    - if params[:usertype] === "2"
      = f.input :usertype, label: false, input_html: {value: "2", type: "hidden"}
    - else
      = f.input :usertype, label: false, input_html: {value: "1", type: "hidden"}
  %br
  .form-actions
    = f.button :submit, "Регистрация", class: "btn btn-success btn-block"
