.container.hero.text-center
  %h2
    Инвестиции и проект. 
    %br
    Технология прямого взаимодействия.

  = link_to "Инвестировать", "/registration?usertype=2", class: 'btn btn-primary'
  = link_to "Привлечь капитал", "/registration?usertype=1", class: 'btn btn-info'
