<!DOCTYPE html>
<html>
  <head>
    <title>InvesteeGranit</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  </head>

  <body>
    <%= render 'layouts/landing/parts/header' %>
    <div class="container">
    	<div class="row">
    		<div class="col-md-3">
          <div class="panel panel-default">
            <div class="panel-body">
    			    <%= render 'layouts/investee/menu' %>
            </div>
          </div>
    		</div>
    		<div class="col-md-9">
          <div class="panel panel-default">
            <div class="panel-body">
              <%= yield %>
            </div>
          </div>
      </div>
    </div>
    </div>
  </body>
</html>
