= simple_form_for [:investee, @project], class: "form-horizontal" do |f|
  = f.error_notification
  .form-inputs
    = f.input :investee_id, label: false, input_html: {value: "#{current_user.investee.id}", type: "hidden"}
    = f.input :tile, label: "Название", input_html: {class: "form-control"}
    = f.input :description, input_html: {class: "form-control"}
    = f.input :image, input_html: {class: "form-control"}
    = f.input :videolink, input_html: {class: "form-control"}
    = f.input :site, input_html: {class: "form-control"}
    = f.input :mission, input_html: {class: "form-control"}
  .form-actions
    = f.button :submit
