= link_to "Добавить проект", new_investee_project_path, class: "btn btn-success"

- unless current_user.investee.projects.present?
  %p В настоящий момент у Вас нет открытых проектов.
- else
  .row
    = render @projects



