<p id="notice"><%= notice %></p>

<p>
  <strong>Investee:</strong>
  <%= @project.investee.user.email %>
</p>

<p>
  <strong>Tile:</strong>
  <%= @project.tile %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= @project.image %>
</p>

<p>
  <strong>Videolink:</strong>
  <%= @project.videolink %>
</p>

<p>
  <strong>Site:</strong>
  <%= @project.site %>
</p>

<p>
  <strong>Mission:</strong>
  <%= @project.mission %>
</p>
