%nav.navbar.navbar-default
  .container
    .navbar-header
      %a.navbar-brand{:href => "/"} Granit Tehnology
    %ul.nav.navbar-nav.navbar-right
      - if signed_in?
        %li
          %a{:href => "#"}= current_user.email
        %li
          %a{:href => "#"}= current_user.status
        %li
          = link_to 'Выход', destroy_user_session_path, method: :delete
      - else
        %li
          = link_to 'Вход в личный кабинет', new_user_session_path

