%h3 Вход личный кабинет

= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| 
  = f.error_notification
  .form-inputs
    = f.input :email, autofocus: true, input_html: {class: "form-control"}
    = f.input :password, label: "Пароль", input_html: {class: "form-control"}

    - if params[:usertype] === "2"
      = f.input :usertype, label: false, input_html: {value: "2", type: "hidden"}
    - else
      = f.input :usertype, label: false, input_html: {value: "1", type: "hidden"}
  %br
  .form-actions
    = f.button :submit, "Войти", class: "btn btn-success btn-block"
