<!DOCTYPE html>
<html>
  <head>
    <title>Granit</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  </head>

  <body>
  	<%= render 'layouts/landing/parts/header' %>
  	<div class="container">
  		<div class="panel panel-default devise">
  			<div class="panel-body">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
